.product-summary {
    width: 100%;
    .info-summary {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .card {
    border: 1px solid #ccc;
    // border-bottom: 3px solid var(--light-blue);
    padding: 5px;
    background-color: #f5f6fa;
  }
  
  .card1 {
    background-color: #6966f7;
  }
  .card2 {
    background-color: #38983c;
  }
  .card3 {
    background-color: #f3a72e;
  }
  .card4 {
    background-color: #ec64e3;
  }